@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;

<h2>Doctor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Patients.Count == 0)
{
  <p>This doctor does not have any patients</p>
}
else
{
  <h4>Doctor's patients:</h4>
  <ul>
  @foreach(var join in Model.Patients)
  {
    <li>@join.Patient.Name</li>
    <ul>
      <li>@join.Patient.Birthday</li>
    </ul>
  }
  </ul>
}

<p>@Html.ActionLink("Back to doctors", "Index")</p>
